<html>
    <head>
        <title>Streaming video</title>
    </head>
    <body>

    <div id="droneStream" style="width: 640px; height: 360px">   </div>

    Embed code here:

    <script src="/javascript/broadway/sylvester.js"></script>
    <script src="/javascript/broadway/util.js"></script>
    <script src="/javascript/broadway/glUtils.js"></script>
    <script src="/javascript/broadway/avc-codec.js"></script>
    <script src="/javascript/broadway/avc.js"></script>
    <script src="/javascript/broadway/canvas.js"></script>

    <script src="/javascript/nodecopter-stream.js"></script>

    <script>

        // Set up socket
        var ws = new WebSocket('ws://{{host}}:{{ports.socket}}');

        ws.onopen = function(){
            ws.send('listen:{{ports.udp}}');
        };

        // Set up nodecopter
        new NodecopterStream(document.getElementById("droneStream"), ws);

    </script>

    </body>
</html>
