<html>
    <head>
        <title>Streaming video</title>
    </head>
    <body>

    Embed code: http://{{host}}/v/{{ports.socket}}

    <script>

        // Set up socket
        var ws = new WebSocket('ws://{{host}}:{{ports.socket}}');

        ws.onopen = function(){
            ws.send('listen:{{ports.udp}}');
        };

        // Load remaining scripts
        {{scripts}}

    </script>
    </body>
</html>
